.blog{
    margin: auto;
    width: 50%;
}

.blog-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.blog-title{
    font-size: 34px;
    font-weight: 200;
    margin: 50px 0px 20px 0px;
}
.heading2{
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0px;
}

.paragraph{
    font-size: 16px;
    font-weight: 300;
    color: gray;
}

.arti{
    width: 50%;
    margin: auto;
}

.container_{
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .blog {
        width: 80%;
    }

    .arti{
        width: 80%;
        margin: auto;
    }
  }

@media (max-width: 1000px) {
    .blog {
        width: 90%;
    }

    .arti{
        width: 90%;
        margin: auto;
    }
  }